				<th style="width: 3%">
					Assessment courses
				</th>
				<th style="width: 3%">
					Assessment method
				</th >
				<th style="width: 1%">
					Date of data collection
				</th>
				<th style="width: 5%">
					Person in charge
				</th>

<tr *ngFor="let item of Pi.AssessmentCourses">
	<td class="text-right">{{item.NameAssessmentSource}} </td>
	<td class="text-right">{{item.AssessmentMethod}} </td>
	<td class="text-right">{{item.DateCollection.date | date}} </td>
	<td class="text-right">{{item.PersonInCharge}} </td>


</tr>




