h1.text-center.h1 {
    margin-top: 15px;
    padding-top: 78px;
}


.panel-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.componenteEditarAssessment{

    display: inline-flex;
    margin-top: 20px;
    margin-left: 20px;
	text-align: initial;
}

.padre{
	text-align: center;
}

.boton{
	text-align: center;
    color: #ffffff;
    background-color: #00599c;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #00599c;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}