<div>
<h1 class="text-center h1">
  Editar Plan - PI
</h1>

  <form>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Performance Indicator:</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{codePi}}>
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{descriptionPi}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">CDIO Level:</label>
      <div class="col-sm-10">
        <ul>
          <li *ngFor="let cdio of pi.Cdios">
            {{cdio.DESCRIPTION}}
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Curricular Mapping:</label>
      <div class="col-sm-10">
        <ul>
          <li *ngFor="let mapC of pi.MappingCourses">
            {{mapC.NAME_COURSE}}
          </li>
        </ul>
      </div>
    </div>
  </form>


  <h3 class="text-center h3">
  Source of Assessment
  </h3>

  <div class="form-group">
      <button class="btn light-blue boton" (click)="enableNewAS()"><i class="fas fa-plus"></i> Add Source of Assessment</button>
  </div> 

  <ng2-smart-table [settings]="settings" [source]="source" (custom)="onEdit($event)"></ng2-smart-table>
</div>

  <hr>

  <div style="margin-left: auto; margin-right: auto; width: 40em" *ngIf="checked">
    
    <h3 class="text-center h3">
      Edit Source of Assessment
    </h3>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Actual Assessment Source: </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{actualAssessmentCourse.NameAssessmentSource}}>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Actual Assessment Method: </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{actualAssessmentCourse.AssessmentMethod}}>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Actual Date of Collection: </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{actualAssessmentCourse.DateCollection}}>
      </div>
    </div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Actual Person In Charge: </label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{actualAssessmentCourse.PersonInCharge}}>
      </div>
    </div>

      <form>

      <label>Select an assessment source: </label>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Assessment Source</label>
        </div>
        <select [(ngModel)]="assessmentSelected" (ngModelChange)="onChangeAssessment($event)" class="form-control" name="assessmentSelected">
        <option value="" disabled> Select an Assessment Source</option>
        <option *ngFor="let course of MappingCourses" [value]="course.ID_COURSE">  {{course.NAME_COURSE}}  </option>
        </select>
     </div>

     <label>Select an assessment method</label>
     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Assessment Method</label>
      </div>
        <select [(ngModel)]="methodSelected" (ngModelChange)="onChangeMethod($event)" class="form-control" name="methodSelected">
        <option value="" disabled> Select an Assessment Method</option>
        <option *ngFor="let method of methods | async" [value]="method.ID_AS_METHOD">  {{method.NAME}}</option>
        </select>
    </div>

     <label>Select a date of collection</label>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Date of Collection</label>
        </div>
        <div style="width: 485px">
          <my-date-picker name="mydate" [options]="myDatePickerOptions"[(ngModel)]="model" (dateChanged)="onDateChanged($event)" required></my-date-picker>
        </div>
        </div>

    <label>Select a person in charge</label>

     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Person in Charge</label>
      </div>
        <select [(ngModel)]="personSelected" (ngModelChange)="onChangePerson($event)" class="form-control" name="personSelected">
          
        <option [value]="" disabled> Select a Person in Charge</option>
        <option *ngFor="let person of professors | async" [value]="person.IdUserCip">  {{person.NameUserCip}}</option>
        </select>
    </div>

    <div class="padre">
          <button class="btn light-blue boton " (click)="myFunc()">Edit</button>
          <button class="btn light-blue boton " (click)="deleteAS()">Delete</button>
          <button class="btn light-blue boton " (click)="cancelEdit()">Cancel</button> 
    </div>
  </form>

  </div>

  <hr>


  <div style="margin-left: auto; margin-right: auto; width: 40em" *ngIf="newChecked">
    <h3 class="text-center h3">
      Add Source of Assessment
    </h3>

      <form>

      <label>Select an assessment source: </label>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Assessment Source</label>
        </div>
        <select [(ngModel)]="assessmentSelected" (ngModelChange)="onChangeAssessment($event)" class="form-control" name="assessmentSelected">
        <option value="" disabled> Select an Assessment Source</option>
        <option *ngFor="let course of MappingCourses" [value]="course.ID_COURSE">  {{course.NAME_COURSE}}  </option>
        </select>
     </div>

     <label>Select an assessment method</label>
     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Assessment Method</label>
      </div>
        <select [(ngModel)]="methodSelected" (ngModelChange)="onChangeMethod($event)" class="form-control" name="methodSelected">
        <option value="" disabled> Select an Assessment Method</option>
        <option *ngFor="let method of methods | async" [value]="method.ID_AS_METHOD">  {{method.NAME}}</option>
        </select>
    </div>

     <label>Select a date of collection</label>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Date of Collection</label>
        </div>
        <div style="width: 485px">
          <my-date-picker name="mydate" [options]="myDatePickerOptions"[(ngModel)]="model" (dateChanged)="onDateChanged($event)" required></my-date-picker>
        </div>
        </div>

    <label>Select a person in charge</label>

     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Person in Charge</label>
      </div>
        <select [(ngModel)]="personSelected" (ngModelChange)="onChangePerson($event)" class="form-control" name="personSelected">
          
        <option [value]="" disabled> Select a Person in Charge</option>
        <option *ngFor="let person of professors | async" [value]="person.IdUserCip">  {{person.NameUserCip}}</option>
        </select>
    </div>

    <div class="padre">
        <button class="btn light-blue boton " (click)="createNewAssessment()">Create</button>
        <button class="btn light-blue boton " (click)="cancelAdd()">Cancel</button>
    </div>
  </form>


  </div>


<app-menu></app-menu>
<router-outlet></router-outlet>