<div class="padre">

    <h4>to create a plan please select a program and then an outcome from which you are assigned</h4>
<div class="componenteCrearPlan">

  <form (ngSubmit)="crearPlan()">

      <label>Select a Program</label>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Programs</label>
        </div>
        <select [(ngModel)]="programSelected" (ngModelChange)="onChangeProgram($event)" class="form-control" name="programSelected">
         <option value="" disabled> Select a Program</option>
         <option *ngFor="let program of programs | async" [value]="program.ID_PROGRAM" ng-change="selectChanged(program)" >  {{program.NAME_PROGRAM}}  </option>
       </select>
     </div>

     <label>Select an Outcome</label>
     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Outcomes</label>
      </div>
      <select [(ngModel)]="outcomeSelected" (ngModelChange)="onChangeOutcome($event)" class="form-control" name="outcomeSelected">
        <option value="" disabled> Select a Outcome</option>
        <option *ngFor="let outcome of outcomes | async " [value]="outcome.ID_ST_OUTCOME" >  {{outcome.CRITERION}} - {{outcome.SHORT_DESCRIPTION}} - {{outcome.PROGRAM_ID_PROGRAM}}  </option>
      </select>
    </div>
    <div class="padre">
        <input type="submit" class="btn light-blue boton" value="Save" >
      
    </div>
  </form>

  </div>
</div>
<app-pruebatabla></app-pruebatabla>
<app-menu></app-menu>
<router-outlet></router-outlet>
<ngb-alert></ngb-alert>






