
	<h1 class="text-center h1">Welcome to the Icesi University continuous improvement system</h1>
		<p class="text-center">a project developed by university students to integrate new technologies into the university's systems engineering curriculum.</p>

		<p class="text-center">Here is a little information about the technologies used</p>
	
	<div class="home">
		<div id="izq">
			<p class="text-center">Technologies used at the frontend with Angular 4!</p>	
			<app-torta></app-torta>
		</div>

		<div id="der">
			<p class="text-center">Technologies used at the backend with Laravel 5.4!</p>
			<app-torta-back></app-torta-back>
		</div>
	</div>
<app-menu></app-menu>
<router-outlet></router-outlet>